<!doctype html>
<html>
<head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Authour Home Page</title>
        <link rel="stylesheet" href="/base.css">
        <link rel="stylesheet" href="/index.css">
        <script>
        function shareArticle(articleId) {
            const rootUrl = `${window.location.origin}`;
            const articleUrl = `${rootUrl}/reader/article/view/${articleId}`;
            alert(`Link to article: ${articleUrl}`);
        }
        </script>
</head>
<body>
        <section class="app">
			<nav class="nav">
				<ul>
                    <li class="settings"><a href="/users/settings">settings</a></li>
					<li class="user"><%= user.username %></li>
                    <li>
                        <button class="logout"><a href="/users/logout">Sign out</a></button>
                    </li>
				</ul>
			</nav>
            <h1>Author Home</h1>
			<header class="header">
                <h2><%= title%></h2>
                <h3><%= subtitle%></h2>
                <h5>by <%= author%></h3>
			</header>
            <section class="main">
                <button type="button"><a href="/author/article/create"> Create new draft</a></button>
                <h2>Your Drafts</h2>
                <section class="article-list">
                    <ul>
                        <% draftArticles.forEach(article => { %>
                        <li class="article">
                            <a href="/reader/article/view/<%= article.id %>">
                                <h2><%= article.title %></h2>
                                <h3><%= article.subtitle %></h3>
                                <p>Created: <%= new Date(article.created_at).toLocaleDateString() %></p>
                                <p>Author: <%= article.author_name %></p>
                                <% if (article.published_at) { %>
                                <p>Published: <%= new Date(article.published_at).toLocaleDateString() %></p>
                                <% } %>
                                <p>Last Modified: <%= new Date(article.last_modified).toLocaleString() %></p>
                            </a>
                            <button><a href="/author/article/edit/<%= article.id %>">Edit</a></button>
                            <button><a href="/author/article/publish/<%= article.id %>">Publish</a></button>
                            <form action="/author/article/delete/" method="POST" onsubmit="return confirm('Are you sure you want to delete this article?');">
                                <input type="hidden" name="id" value="<%= article.id %>">
                                <button type="submit">Delete</button>
                            </form>
                        </li>
                        <% }); %>
                    </ul>
                </section>
                <h2>Your Published Aritcles</h2>
                <section class="article-list">
                    <ul>
                        <% publishedArticles.forEach(article => { %>
                        <li class="article">
                            <a href="/reader/article/view/<%= article.id %>">
                                <h2><%= article.title %></h2>
                                <h3><%= article.subtitle %></h3>
                                <p>Created: <%= new Date(article.created_at).toLocaleDateString() %></p>
                                <p>Author: <%= article.author_name %></p>
                                <p>Published: <%= new Date(article.published_at).toLocaleDateString() %></p>
                                <p>Last Modified: <%= new Date(article.last_modified).toLocaleString() %></p>
                                <p><%= article.content %></p>
                                <p>Reads: <%= article.reads %></p>
                                <p>Likes: <%= article.likes %></p>
                            </a>
                            <button onclick="shareArticle(<%= article.id %>)">Share</button>
                            <button><a href="/author/article/edit/<%= article.id %>">Edit</a></button>
                            <button><a href="/author/article/unpublish/<%= article.id %>">Unpublish</a></button>
                            <form action="/author/article/delete/" method="POST" onsubmit="return confirm('Are you sure you want to delete this article?');">
                                <input type="hidden" name="id" value="<%= article.id %>">
                                <button type="submit">Delete</button>
                            </form>
                        </li>
                        <% }); %>
                    </ul>
            </section>
</body>
</html>

